body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 2rem;
    line-height: 3rem;
}

@keyframes shaky {
    0% {
        transform: rotate(0deg);
        color: black;
    }
    25% {
        transform: rotate(10deg);
        color: #FF9F1C;
    }
    50% {
        transform: rotate(0deg);
        color: #E71D36;
    }
    75% {
        transform: rotate(10deg);
        color: #2EC4B6;
    }
    100% {
        transform: rotate(0deg);
        color: black;
    }
}

h1 span {
    animation: shaky 1s infinite;
    display: inline-block;
}

header h1 {
    text-align: center;
    margin: 24px 0;
}


ul {
    max-width: 400px;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
}

@keyframes popin {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

ul li {
    list-style-type: none;
    box-shadow: 0 2px 4px 0 rgba(57,55,56,0.15);
    margin-bottom: 24px;
    padding: 12px;
    border-radius: 8px;
    background-color: #f4f4f4;
    animation: popin 0.3s cubic-bezier(0.05, 1.74, 0.49, 0.9);
}

ul li select {
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
}

ul li h1, ul li p {
    margin-bottom: 24px;
}



.questions button {
    margin: 0 auto;
    background-color: #02C39A;
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    color: white;
    display: block;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 24px;
    box-shadow: 0 2px 4px 0 rgba(57,55,56,0.15);
    transition: transform 0.3s, box-shadow 0.3s;
    outline: none;
}

form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 4px 0 rgba(57,55,56,0.15);
}

form button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 4px 0 rgba(57,55,56,0.15);
}



canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.result {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}


